@charset "UTF-8";
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

form {
    background-color: #fff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(1, 1, 1, 1);
    max-width: 400px;
    width: 100%;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 16px;
}


h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    width: 100%; 
}
@media screen and (max-width: 480px) {
    form {
        padding: 20px;
    }
    
    button {
        padding: 10px;
    }
}
